<!--
    Composant: header
    Description: En-tête du site avec logo et navigation

    Variables:
    - {{site.name}}: Nom du site
    - {{site.logo}}: URL du logo (optionnel)
-->
<header class="site-header">
    <div class="header-container">
        <div class="site-brand">
            {{#if site.logo}}
            <a href="/" class="logo-link">
                <img src="{{site.logo}}" alt="{{site.name}}" class="site-logo">
            </a>
            {{else}}
            <a href="/" class="site-name">{{site.name}}</a>
            {{/if}}
        </div>
        {{include:nav}}
    </div>
</header>
